<div class="page-header">
    <h1 class="text-gray-800">Targets</h1>
</div>

<div class="card border-light shadow">
    <div class="card-body">
        <div class="card-content table-responsive">
            <a class="btn btn-primary mb-2" routerLink="new">Add new target</a>
            <ul class="list-group">
                <li *ngFor="let target of targets"
                    class="list-group-item list-group-item-action border-right-0 border-left-0 border-top-0">
                    <div class="row">
                        <div class="col-3 my-auto">
                            <div class="text-uppercase text-muted" style="font-size: .7rem;">Name</div>
                            <div>
                                <h5 class="my-0">{{target.name}}</h5>
                            </div>
                        </div>
                        <div class="col-2 my-auto">
                            <div class="text-uppercase text-muted" style="font-size: .7rem;">Hostname</div>
                            <div>
                                <h5 class="my-0">{{target.hostName ? target.hostName : '-'}}</h5>
                            </div>
                        </div>
                        <div class="col-2 my-auto">
                            <button class="btn btn-danger" (click)="remove(target.id)">Remove</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>