[Unit]
Description=deployer service

[Service]
WorkingDirectory=/var/deployer
ExecStart=/usr/bin/dotnet "/var/deployer/Deployer.API.dll"
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=deployer-service 
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
