<div class="jumbotron py-3 position-relative editor">

    <small class="mb-2 text-muted">Type: <span class="font-weight-bold">{{step.typeName}}</span></small>
    <div *ngIf="!isEditMode">
        <h1 class="display-5">{{step.name}}</h1>
    </div>

    <div *ngIf="isEditMode">
        <div class="row">
            <div class="col-4">
                <form class="form-group" [formGroup]="settingsForm">
                    <h5>Name</h5>
                    <input required class="form-control" type="text" formControlName="name" />
                    <span class="text-danger" *ngIf="validator(settingsForm, 'name')">Required</span>
                    <hr>
                    <h5>Settings</h5>
                    <div formGroupName="properties">
                        <div class="mb-2" *ngFor="let prop of step.inputProperties">
                            <label>{{prop.name}}</label>
                            <input required *ngIf="prop.specialType == null" class="form-control"
                                formControlName="{{prop.name}}" placeholder="">
                            <select required *ngIf="prop.specialType?.fieldType == 'Artifact'" class="form-control"
                                formControlName="{{prop.name}}">
                                <option *ngFor="let artifact of artifacts" value="{{artifact.id}}">{{artifact.name}}
                                </option>
                            </select>
                            <select required *ngIf="prop.specialType?.fieldType == 'TargetRole'" class="form-control"
                                formControlName="{{prop.name}}">
                                <option *ngFor="let role of targetRoles" value="{{role.id}}">{{role.name}}</option>
                                <span *ngIf="validator(settingsForm.controls.properties, prop.name)">Required</span>
                            </select>
                            <span class="text-danger" *ngIf="validator(settingsForm.controls.properties, prop.name)">Required</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
            <div class="col-4 text-right">
                <h5>Output variables</h5>
                <span *ngIf="step.outputVariables.length == 0">-</span>
                <ul class="list-unstyled">
                    <li *ngFor="let v of step.outputVariables" class="font-italic">
                        <code>
                    <span ng-non-bindable>{{</span>{{v}}<span ng-non-bindable>}}</span>
                    </code>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <button class="btn btn-outline-secondary mr-1" (click)="cancel()">Cancel</button>
                    <button class="btn btn-outline-primary" (click)="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="box" title="Remove" (click)="delete()">
            <i class="text-danger fas fa-trash"></i>
        </div>
        <div *ngIf="!isEditMode" class="box" title="Edit" (click)="edit()">
            <i class="text-primary fas fa-edit"></i>
        </div>
    </div>
</div>