<div class="grid-main_container">

    <div class="sidebar">
        <div class="sidebar__title">WT MANAGER</div>
        <!-- <img src="{{profileImageURL}}" alt="Zdjęcie profilowe" class="profileImage my-4"> -->
        <hr class="sidebar-divider" />
        <!-- <h5>{{currentEmployee?.name}} {{currentEmployee?.surname}}</h5>
            <h5 class='sidebar--text-muted'>{{currentUser?.username}}</h5> -->
        <nav class="nav flex-column">
            <a class="nav-link" [routerLinkActive]="['nav-link--active']" routerLink="dashboard">
                <i class="fas fa-tachometer-alt fa-lg"></i>
                <span>Panel główny</span>
            </a>
            <a class="nav-link" [routerLinkActive]="['nav-link--active']" routerLink="targets">
                <i class="fas fa-bullseye"></i>
                <span>Targets</span>
            </a>
            <a class="nav-link" [routerLinkActive]="['nav-link--active']" routerLink="artifacts">
                <i class="fas fa-cube"></i>
                <span>Artifacts</span>
            </a>
        </nav>
        <button class="btn btn-primary" (click)="signout()">Wyloguj</button>
    </div>
    <div class="right-area">
        <nav class="navbar navbar-light navbar-main shadow">
            <div class="navbar-flex">
                <button class="btn btn-link">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
                <div class="navbar-flex__right">
                    <p class="d-none d-sm-block">{{currentCompany?.name}}</p>
                    <div class="position-relative" (click)="openNotifications()" type="button">
                        <p class="badge"><i class="fas fa-bell"></i><span *ngIf="unreadNotifications?.length > 0"
                                class="badge badge-danger badge__notification">{{unreadNotifications?.length}}</span>
                        </p>
                        <div *ngIf="showNotifications" class="notificationsList" tabindex="0" (blur)="hideNotifications()">
                            <ul class="m-0 list-group list-group-flush" style="width: 300px; height: 100%">
                                <li *ngFor="let notification of notifications" class=" mb-2 list-group-item">
                                    <h6 class="font-weight-bold">{{notification.title}}</h6>
                                    <p class="m-0">{{notification.content}}</p>
                                </li>
                                <li *ngIf="notifications.length == 0" class="list-group-item">Brak powiadomień.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider-vertical"></div>
                    <!-- <p>{{currentEmployee?.name}} {{currentEmployee?.surname}}</p> -->
                    <p class="navbar-flex__username">@{{username}}</p>
                    <!-- <img src="{{profileImageURL}}" alt="Zdjęcie profilowe" class="profileImage my-2"> -->
                </div>
            </div>
        </nav>
        <div class="main-area">
            <p class="breadcrumbs">{{currentCompany?.name}}</p>
            <router-outlet></router-outlet>
        </div>

    </div>

</div>