@import "~node_modules/bootstrap/scss/_functions";
@import "~node_modules/bootstrap/scss/_variables";
@import "~node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');


.notificationsList{
    position: absolute;
    left: -100px;
    overflow-y: scroll;
    z-index: 999;
    background-color: #e9eaeb;
    max-height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 60px;

}

.divider-vertical {
    width       : 0;
    border-right: 1px solid #e3e6f0;
    height      : 3rem;
    margin      : 0 10px;
}

.badge {
    position: relative;


    i {
        font-size: 1.5rem;
        color    : $text-muted;
    }

    &__notification {
        position        : absolute;
        transform       : scale(1);
        transform-origin: top right;
        right           : -.3rem;
    }
}

.grid-main_container {
    font-family          : 'Nunito', sans-serif;
    display              : grid;
    grid-template-columns: 6.5rem 1fr;
    background-color     : #F7F8FB;

}

.navbar-main {
    background-color: white;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.sidebar {
    padding    : 1rem;
    font-size  : .85rem;
    font-weight: 500;
    height     : 100vh;

    color           : rgba(255, 255, 255, .8);
    grid-area       : "sidebar";
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size : cover;

    &-divider {
        border-top: 1px solid #eaecf45b;
        width     : 100%;
    }

    //color: $azure-x-11-web-color;
    &--text-muted {
        color: red;
    }

    &__title {
        font-size  : 1rem;
        font-weight: 800;
        color      : white;
        margin     : 5px auto;
        text-align : center;
    }

    .nav-link {
        color                  : rgba(255, 255, 255, .8);
        //font-size            : 1rem;
        padding                : 1rem 0;
        font-weight            : 300;

        display              : grid;
        grid-template-columns: 1fr;
        align-items          : center;
        gap                  : 10px;


        &--active {
            color      : white;
            font-weight: 800;
        }

        i {
            place-self: center;
        }

        span {
            text-align: center;
        }

        &:hover {
            color: white;
        }

    }
}

.breadcrumbs {
    margin-top: 20px;
    color: $text-muted;
}


.right-area {
    display   : block;
    overflow-y: scroll;
    height    : 100vh;

    .navbar-flex {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 0 10px;

        p {
            margin: 0 20px;
            color : $text-muted;
        }

        &__username {
            display      : none;
            //color      : #858796;
            font-weight  : 400;
        }

        &__right {
            display    : flex;
            align-items: center;

            .profileImage {
                border-radius: 50%;
                width        : 3rem;
                height       : 3rem;
                object-fit   : cover;
            }
        }
    }

}

.main-area {
    padding: 0 20px;
}

@include media-breakpoint-up(md) {
    .grid-main_container {
        grid-template-columns: 13rem 1fr;

    }

    .navbar-flex {
        &__username {
            display: block !important;
        }
    }

    .nav-link {
        grid-template-columns: 2rem 1fr !important;
        gap                  : 10px;
    }

    span {
        text-align: left !important;
    }

}

@include media-breakpoint-up(xl) {}