<div class="page-header">
    <h1 class="text-gray-800">Artifacts</h1>
</div>

<div class="card border-light shadow">
    <div class="card-body">
        <div class="card-content table-responsive">
            <ul class="list-group">
                <li *ngFor="let artifact of artifacts"
                    class="list-group-item list-group-item-action border-right-0 border-left-0 border-top-0">
                    <div class="row">
                        <div class="col-3 my-auto">
                            <div class="text-uppercase text-muted" style="font-size: .7rem;">Name</div>
                            <div>
                                <h5 class="my-0">{{artifact.name}}</h5>
                            </div>
                        </div>
                        <div class="col-2 my-auto">
                            <div>
                                <div *ngFor="let x of artifact.channels | keyvalue">
                                    <h5>Channel: {{x.key}}</h5>
                                    <label>Versions:</label>
                                    <ul>
                                        <li *ngFor="let y of x.value">{{y.version}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
