
<ul class="list-group-flush jsVersions">

</ul>

@section Scripts{ 
<script type="text/template" id="versionRowTemplate">
    <li class="list-group-item">
        <div class="row">
            <div class="col-4">
                <%= name %>
            </div>
            <div class="col-2">
                <button class="btn btn-primary">Deploy</button>
            </div>
        </div>
    </li>
</script>
}